{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Contact Form</title>
    
  </head>
  <body>
    <div class="col-10">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {%block content %}
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="button" class="btn btn-danger">submit</button>
    </form>
    </div>
    {% endblock %}
  
  </body>